@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.cool-img {
  height: 300px;
}

body {
  font-family: Rubik, sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
}

.container {
  background-color: #fafafa;
  transition: transform 1s;
  transform-origin: 0 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  transition: 1s;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgb(25, 38, 211);
  border-radius: 50%;
  transition: transform 0.5s;
}

.circle:hover {
  transform: scale(1.2);
}

.circle button {
  position: absolute;
  height: 100px;
  background: transparent;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  top: 45%;
  left: 60%;
}

.circle button#close {
  top: 30%;
  left: 17%;
  transform: rotate(30deg);
}

main {
  max-width: 1000px;
  margin: 50px auto;
}

small {
  color: #555;
  font-style: italic;
  font-weight: 600;
}

h2, p {
  margin: 1em 0;
}

p {
  color: #333;
  line-height: 1.5;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  cursor: pointer;
}

nav ul li + li {
  margin-left: 20px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 40px;
  transform: translateX(-200%);
}

.container.show-nav + nav li {
  transform: translate(0);
  /* transition-delay: 0.3s; */
}

.container.show-nav .circle-container {
  transform: rotate(-100deg);
}